@import "compass/css3";

body {
  background: url(https://4.bp.blogspot.com/-LQV4NPu9kd4/UPItmruV0tI/AAAAAAAAUec/JyAylV7pnJ0/s1600/san+diego+-+sunset+-+sunset+sunday.JPG);
  height: 1000px;
}
header {
  font-family: sans-serif;
  position: fixed;
  width: 100%;
  height: 150px;
  top: 0;
  left: 0;
  background-color: rgba(22,22,22,0.4);
  border-bottom: 3px solid rgba(0,0,0,0.4);
  -webkit-transition: height 0.3s;
  
  .container {
    width: 90%;
    margin: 0 auto;
  }
  
  h1 {
    margin-top: 0;
  }
  
  h1, nav {
    display: inline-block;
    position: relative;
    line-height: 150px;
    -webkit-transition: all 0.3s;
  }
  
  a {       
    text-decoration: none;
    color: #ccc;
  }
  
  nav {
    float: right;
    line-height: 150px;
    font-size: 1.4em;
    a {
      margin-left: 10px;
    }
    
    a:hover{
      border-top: 2px dotted white;
      border-bottom: 2px dotted white;
    }
  }
  
}

header.minimized {
  height: 60px;
  
  h1,nav {
    line-height: 60px;
  }
  nav {
    font-size: 1.2em;
  }
  h1{
    font-size: 1.7em;
  }
  
}

.container {
  height: 2000px; 
}